@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 16px;
  background-image: url(./assets/bg-intro-mobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl( 0, 100%, 74% );
}

@media only screen and (min-width: 800px) {
  body {
    background-image: url(./assets/bg-intro-desktop.png);
  }
}

#button {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

#form {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}